.container {
    width: 100%;
    border: 1px solid gray;
    font-family: 'Open Sans', sans-serif;
}

header, footer {
    color: white;
    background-color: grey;
    padding: 1em;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

aside {
    float: right;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
